<div class="dashboard-container">
  <h1>Admin Dashboard</h1>

  <!-- Search Movies -->

  <div class="search-section">
    <mat-form-field appearance="outline">
      <mat-label>Search Movies</mat-label>
      <input matInput [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" />
      <button matSuffix mat-icon-button (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="results-section" *ngIf="searchMovies.length > 0">
    <h2>Search Results</h2>
    <div class="movie-grid">
      @for (movie of searchMovies; track movie.imdbID) {
      <mat-card class="movie-card">
        <img mat-card-image [src]="movie.Poster" alt="{{ movie.Title }} " />
        <mat-card-content>
          <h3>{{ movie.Title }}</h3>
          <p>{{ movie.Year }} • {{ movie.Type }}</p>
        </mat-card-content>
        <mat-card-actions>
          @if(isMovieAdded(movie.imdbID)){
          <button mat-raised-button color="accent" disabled>
            <mat-icon>check</mat-icon> Added
          </button>
          } @else{
          <button
            mat-raised-button
            color="primary"
            (click)="addMovie(movie.imdbID)"
          >
            <mat-icon>add</mat-icon> Add to Database</button
          >}
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>

  <!-- Database Movies -->
  <div class="database-section">
    <h2>Movies in Database</h2>
    <div class="movie-grid">
      @for (movie of databaseMovies; track movie.imdbID){
      <mat-card class="movie-card">
        <img
          mat-card-image
          [src]="movie.Poster"
          alt="{{ movie.Title }} poster"
        />
        <mat-card-content>
          <h3>{{ movie.Title }}</h3>
          <p>{{ movie.Year }} • {{ movie.Type }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            (click)="removeMovie(movie.imdbID)"
          >
            <mat-icon>delete</mat-icon> Remove
          </button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
</div>
