html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar button {
  color: white !important;
}
